@model IQueryable<EntityLayer.Concrete.Category>
@{
    ViewData["Title"] = "GetAllCategories";
}

<div class="container p-3">
    <div class="row p-3">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a style="border-radius:25px" class="btn btn-primary btn-lg" asp-action="CategoryAdd" asp-controller="Category"><i class="bi bi-plus-circle"> &nbsp Create New Category</i></a>
        </div>
    </div>
    <br />
    <table class="table table-bordered">
        <tr>
            <th>Category ID</th>
            <th>Category Name</th>
            <th>Category Display Order</th>
            <th>Category Date</th>
            <th>Category Update</th>
            <th>Category Delete</th>
        </tr>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.CategoryID</td>
                <td>@obj.CategoryName</td>
                <td>@obj.CategoryDisplayOrder</td>
                <td>@obj.CategoryCreatedDate</td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a style="text-decoration : none" asp-controller="Category" asp-action="CategoryUpdate" asp-route-id="@obj.CategoryID"><i class="bi bi-pencil-square"> &nbsp Update</i></a>
                    </div>
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a style="text-decoration : none" asp-controller="Category" asp-action="CategoryDelete" asp-route-id="@obj.CategoryID">
                            <i class="bi bi-trash3-fill text-danger"> &nbsp Delete</i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>

